//- To compile on save add the following snippet to your vimrc
//- autocmd BufWritePost resume.jade ! node render.js

link(href='/usr/share/fonts/adobe-source-serif-pro/SourceSerifPro-Light.otf' rel='stylesheet' type='text/css')
link(href='/home/scallywag/.fonts/Inconsolata for Powerline.otf' rel='stylesheet' type='text/css')

style
  include resume.css

- lcLocation = location.toLowerCase()

if lcLocation === 'remote'
  - var contactInfo = "<h1>Jesse Hughes</h1> Victoria BC - <span>jesse.hughes.it@gmail.com - github.com/jjbandit</span>"
else
  - var contactInfo = "<h1>Jesse Hughes</h1> - <span>jesse.hughes.it@gmail.com - 778.922.4334 - github.com/jjbandit</span>"

body

  .header !{contactInfo}

  #cert
    h2 Skills
    ul
      li
        h3 5+ Years
        .skill git
        .skill Linux
        .skill Bash
        .skill Javascript/jQuery
        .skill Ruby/Rails

      li
        h3 3+ Years
        .skill AWS/Apache/Nginx
        .skill Node
        .skill React/Angular
        .skill PHP
        .skill SQL

      li
        h3 1+ Year
        .skill Visual Studio
        .skill gdb
        .skill C/C++
        .skill OpenGL
        .skill SIMD

  #edu
    h2 Education
    ul
      li
        h3 Autodidactic
        .skill Always Learning


   #letter
    p Hello,

    p.
      My name is Jesse Hughes.  I was introduced to Marc Savino by reference
      through Dhruv Dang.

    // if lcLocation === "remote"
    //   p.
    //     My name is Jesse Hughes.
    //     I am applying for the position of Remote #{position}
    //     as advertised at #{application_url} .

    // else
    //   p.
    //     My name is Jesse Hughes.
    //     I am applying for the position of #{position}
    //     in #{location}.

    p.
      I found out about how our modern monetary system works several years ago.
      Since then, after having learned more about the subject, I am shocked at
      how the modern banking industry works.  Bitcoin, and projects like
      Coinbase, seem like rays of hope for our modern economy, and I would love
      the opportunity to contribute to a project steering us towards that hope.

    p.
      My primary work experience is in backend web development, however I tend
      to identify as an Engineer; if something needs building, I can build it.
      I really enjoy understanding how systems work, and how individual moving
      parts form a greater whole.

    h3 Communication
    p.
      I value an environment with good communication channels, and when many
      teams are involved in the development cycle, having a tight feedback loop
      between teams seems like a crucial factor in the success of any project.

    h3 Skills
    p.
      I have worked primarily with MVC frameworks and am confidant in my
      ability to learn, use and build such tools.  On several occasions I have
      been lucky enough to build components of such frameworks from scratch.

  #project
    h2 Recent Work
    hr
    ul
      li
        h3 Fresche - Windows/AS400 - November 2015 to Current
        ul
          li Rebuilding product integration portal - C++ backend, Angular2 Frontend
          li Refactored large (300kloc) Windows IDE to support Unicode
          li Increased test coverage of IDE by many times

      li
        h3 Yipida - Full-Stack - May to November 2015
        ul
          li Full stack / Dev Ops
          li Payment Processing with Stripe
          li Built a custom PHP templating engine

      li
        h3 Contract Consulting - 2013 - 2015
        ul
          li Several Rails eCommerce apps using Spree
          li Timecard Generator app for Victoria CRD
          li Swim Lesson roster generator for Victoria CRD


  .footer !{contactInfo}
  p.
    If you are interested in learning more about me please contact
    me by phone or email at your earliest convenience.
