-
  var jobs = [
    { title: 'Optic Pwr',
      badge: 'Remote',
      date: '2020 - Current',
      lang: 'C  C++  ASM',
      bullets: [
        'Reverse engineer Valves Source2 engine and read client memory at runtime',
        'CS:GO  Valorant  League of Legends',
      ]
    },
    { title: 'Bonsai',
      badge: 'OSS',
      date: '2015 to Present',
      lang: 'OpenGL  C  C++',
      bullets: [
       '3D game engine: https://github.com/jjbandit/bonsai',
       'Renderer, Debug Profiler, Entity System, Physics',
       'From scratch; no third party libraries',
      ]
    },
    { title: 'Evolution Ventures',
      badge: 'Remote',
      date: '2019 to 2021',
      lang: 'WebGL  TS  React',
      bullets: [
        'Build and maintain WebGL based Architecture Visualization tools'
      ]
    },
    { title: 'RCA Web',
      badge: 'Remote',
      date: '2019',
      lang: 'Rails  JS',
      bullets: [
        'Twilio based alerting system',
        'Maintenance - William Grant & Sons internal tooling',
      ]
    },
    { title: 'Project6 Design',
      badge: 'Remote',
      date: '2017-2019',
      lang: 'JS  PHP',
      bullets: [
        'CrossFit Games - https://games.crossfit.com',
        'McAfee MPOWER - https://mcafeempower.com/',
        'Implement & maintain various client sites',

      ]
    },
    { title: 'Fresche',
      badge: 'Onsite',
      date: '2015-2016',
      lang: 'C++  JS  PHP',
      bullets: [
        'Rebuilt product integration portal - C++ backend, Angular2 frontend',
        'Refactored 300Kloc C++ Windows IDE to support Unicode',
        'Increased test coverage by 4x',
      ]
    },
  ]

ul
  each job in jobs
    li
    .flex.space-between
      div
        h3.project-title= job.title
        .date= job.date
        .badge= job.badge
      div
        .lang= job.lang
    ul
      each bullet in job.bullets
        li= bullet
