//- To compile on save add the following snippet to your vimrc
//- autocmd BufWritePost resume.jade ! node render.js

link(href='/usr/share/fonts/adobe-source-serif-pro/SourceSerifPro-Light.otf' rel='stylesheet' type='text/css')
link(href='/home/scallywag/.fonts/Inconsolata for Powerline.otf' rel='stylesheet' type='text/css')

style
  include resume.css

- lcLocation = location.toLowerCase()

if lcLocation === 'remote'
  - var contactInfo = "<h1>Jesse Hughes</h1> Victoria BC - <span>jesse.hughes.it@gmail.com - github.com/jjbandit</span>"
else
  - var contactInfo = "<h1>Jesse Hughes</h1> - <span>jesse.hughes.it@gmail.com - 778.922.4334 - github.com/jjbandit</span>"

body

  .header !{contactInfo}

  #cert
    h2 Skills
    ul
      li
        h3 5+ Years
        .skill git
        .skill Linux
        .skill Bash
        .skill Javascript/jQuery
        .skill Ruby/Rails

      li
        h3 3+ Years
        .skill AWS/Apache/Nginx
        .skill Node
        .skill React/Angular
        .skill PHP
        .skill SQL

      li
        h3 1+ Year
        .skill Visual Studio
        .skill gdb
        .skill C/C++
        .skill OpenGL
        .skill SIMD

  #edu
    h2 Education
    ul
      li
        h3 Autodidactic
        .skill Always Learning

    // if lcLocation === "remote"
    //   p.
    //     My name is Jesse Hughes.
    //     I am applying for the position of Remote #{position}
    //     as advertised at #{application_url} .

    // else
    //   p.
    //     My name is Jesse Hughes.
    //     I am applying for the position of #{position}
    //     in #{location}.

  #project
    include recent_experience.pug

  .footer !{contactInfo}
  p.
    If you are interested in learning more about me please contact
    me by phone or email at your earliest convenience.
